sphinx>=3.2.1
numpy
astropy
specutils
sphinx-material
scipy
pandas
nbsphinx
gwcs
celerite2
matplotlib
requests
ipykernel
importlib_resources
h5py
celerite2
tqdm
bokeh # needed for gollum to install on RTD
gollum==0.2.1 
muler # we tried muler gets installed with "Install Project" in RTD advanced settings, did not work
numpydoc
sphinx-gallery
