sphinx>=3.2.1
numpy
astropy
specutils
sphinx-material
scipy
pandas
nbsphinx
gwcs
celerite2
matplotlib
requests
ipykernel
importlib_resources
h5py
celerite2
tqdm
gollum==0.2.0
muler
numpydoc
sphinx-gallery
